# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Node
node_modules/
dist/

# Models / STT caches
vosk_models/
*.bin
*.model
*.mdl
*.fst

# Whisper / HF cache (اختياري)
.whisper_cache/
.huggingface/
