# ======================
# Python / Virtual Env
# ======================
.venv/
venv/
backend/.venv/
__pycache__/
*.pyc

# ======================
# AI / Models / Cache
# ======================
vosk_models/
.whisper_cache/
.huggingface/
*.onnx
*.bin

# ======================
# Django runtime
# ======================
db.sqlite3
media/
staticfiles/
*.log

# ======================
# Frontend
# ======================
node_modules/
dist/
*.zip

# ======================
# Env files
# ======================
.env
.env.*
frontend/.env.local
frontend/.env.production
mobile/.env.*
