arabic-reshaper==3.0.0
asgiref==3.10.0
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.4
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==5.2.8
django-cors-headers==4.9.0
django-environ==0.12.0
django-filter==25.2
django-user-agents==0.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
msgpack==1.1.2
pillow==12.0.0
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==25.3.0
python-barcode==0.16.1
python-bidi==0.6.7
qrcode==8.2
redis==7.0.1
reportlab==4.4.4
requests==2.32.5
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.3
stripe==13.2.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.11.0
urllib3==2.5.0
user-agents==2.2.0
zope.interface==8.1.1
django-extensions==4.1